body {
    font-family: lora;
    margin: 0;
    padding: 0;
    color: white;
}

.main {
    width: 98%;
    margin: 0 auto;
    background-color: rgb(225, 248, 248);
    /* background-color: rgb(207, 187, 187); */
}

/* ------------------------------- Start first-section --------------------------------- */
.first-section {
    display: flex;
    width: 100%;
    height: 98vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.child-div1 {
    width: 60%;
}

.child-div1 .text-div {
    margin: 150px 50px 0 100px;
}

.child-div1 .text-div .h1-div {
    border-left: 4px solid;
    border-image: linear-gradient(rgb(241, 14, 101), rgb(243, 174, 24));
    border-image-slice: 1;
}

.child-div1 .text-div .h1-div h1 {
    font-size: 35px;
    padding-left: 10px;
    word-spacing: 8px;
    margin: 0;
    font-family: Impact'Arial Narrow Bold', sans-serif;
}

.child-div1 .text-div .h1-div .first-h1 {
    text-shadow: 2px 2px 3px rgb(250, 97, 97);
    font-style: italic;
}

.child-div1 .text-div .h1-div span {
    color: red;
}

.child-div1 .text-div p {
    width: 95%;
    text-align: justify;
}

.child-div1 .text-div p::first-letter {
    color: rgb(236, 236, 135);
    font-size: 35px;
}

.child-div1 .text-div a {
    display: block;
    background-image: linear-gradient(red, gree, blue);
    padding: 9px 20px;
    margin-top: 20px;
    width: 100px;
    height: 22px;
    font-weight: 550;
    font-size: 16px;
    color: red;
    border-radius: 30px;
    box-shadow: 3px 3px 8px rgb(206, 189, 189);
    text-decoration: none;
    font-style: italic;
    text-align: center;
}

.first-section h3 {
    font-size: 18px;
    font-family: sans-serif;
}

.child-div2 {
    width: 40%;
}

.child-div2 img {
    width: 380px;
    height: 450px;
    margin: 0 auto;
    display: block;
    margin-top: 80px;
    margin-right: 100px;
    border: 5px solid rgba(247, 14, 14, 0.6);
    border-radius: 5px;
    box-shadow: 15px 8px 40px rgb(207, 187, 187);
}

/* -------------------------------- End ***first*** section --------------------------------- */




/* ------------------------------- Start ***Second*** section --------------------------------- */
.second-section {
    width: 90%;
    margin: 0 auto;
    height: 85vh;
    color: black;
    padding-bottom: 50px;
    /* background-color: rgb(204, 243, 243); */
}

.second-section .second-child-section {
    display: flex;
    justify-content: space-between;
}

.second-section .h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.second-section .h1 span {
    color: red;
}

.second-section .child-div-1 {
    width: 24%;
    height: 380px;
    margin-top: 30px;
    border: 2px solid rgb(160, 248, 248);
    box-shadow: 10px 10px 20px rgb(204, 202, 202);
    background-color: rgb(195, 245, 245);
    padding: 0 20px;
    border-radius: 10px;
}

.second-child-section .diferent-color {
    /* background-color: rgb(248, 247, 232); */
    background-color: rgba(0, 0, 0, 0.2);
}

.second-section .child-div-1 img {
    width: 160px;
}

.second-section .child-div-1 p {
    text-align: justify;
    font-size: 16px;
    padding-bottom: 30px;
}

/* ------------------------------- End ***Second*** section --------------------------------- */



/* ------------------------------- Start ***Third*** section --------------------------------- */

.third-section {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    padding-bottom: 20px;
    color: black;
}

.third-section img {
    width: 360px;
    margin: 70px 0 0 70px;
    border-radius: 10px;
    border: 1px solid #ffffffee;
    box-shadow: 2px 2px 15px white;
}

.third-section .baby-info {
    width: 55%;
    padding: 100px 30px 0 60px;
}

.third-section .baby-info h1 {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: -15px;
}

.third-section .baby-info h1 span {
    color: red;
}

.third-section .baby-info p::first-letter {
    color: red;
    font-size: 35px;
}

.third-section .baby-info a {
    display: block;
    padding: 9px 20px;
    margin-top: 20px;
    width: 130px;
    height: 22px;
    font-weight: 550;
    font-size: 16px;
    color: red;
    background-color: rgb(37, 35, 35);
    border: 1px solid red;
    border-radius: 30px;
    box-shadow: 3px 5px 15px rgb(248, 91, 91);
    text-decoration: none;
    font-style: italic;
    text-align: center;
}



/* ------------------------------- End ***Third*** section --------------------------------- */




/* ------------------------------- Start ***Fourth*** section --------------------------------- */

.Forth-section {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    padding-bottom: 80px;
    color: black;
}

.Forth-section .baby-info {
    width: 55%;
    padding: 100px 30px 0 60px;
}

.Forth-section .baby-info h1 {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: -15px;
}

.Forth-section .baby-info h1 span {
    color: red;
}

.Forth-section .baby-info p::first-letter {
    color: red;
    font-size: 35px;
}

.Forth-section .baby-info a {
    display: block;
    padding: 9px 20px;
    margin-top: 20px;
    width: 100px;
    height: 22px;
    font-weight: 550;
    font-size: 16px;
    color: red;
    background-color: rgb(37, 35, 35);
    border: 1px solid red;
    border-radius: 30px;
    box-shadow: 3px 5px 15px rgb(248, 91, 91);
    text-decoration: none;
    font-style: italic;
    text-align: center;
}

.Forth-section img {
    width: 360px;
    margin: 70px 20px 0 30px;
    border-radius: 10px;
    border: 1px solid #ffffffee;
    box-shadow: 2px 2px 15px white;
}


/* ------------------------------- End ***Fourth*** section --------------------------------- */



/* ------------------------------- Start ***Fifth*** section --------------------------------- */

.fifth-section {
    height: 50vh;
    margin-top: 70px;
    padding: 0 50px 100px ;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-around;
}

.fifth-section .import-section {
    width: 27%;
    border: 2px solid gray;
    height: 40vh;
    margin-top: 30px;
    box-shadow: 3px 8px 18px rgb(75, 75, 241);
}

.fifth-section .import-section .text-import {
    height: 30vh;
}

.import-section .text-import i {
    font-size: 55px;
    padding-top: 15px;
    color: blue;
}

.fifth-section .import-section .child-d {
    text-align: center;
    border-top: 2px solid gray;
    background-color: rgba(173, 173, 173,0.4);
    height: 9.7vh;
}

.fifth-section .import-section .child-d a{
    display: block;
    margin: auto;
    background-color: blue;
    width: 160px;
    height: 30px;
    margin-top: 12px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
};

/* ------------------------------- End ***Fifth*** section --------------------------------- */
